@use '@angular/material' as mat;

$indigo-p: mat.define-palette(mat.$indigo-palette);

.public-header{
  width: 100%;
  background: mat.get-color-from-palette($indigo-p, 'darker');
  color: mat.get-color-from-palette($indigo-p, 'darker-contrast');

  display: flex;
  flex-flow: row;
  justify-content: space-between;

  padding: 10px;

  .logo{
    font-size: 1.3rem;
    margin-left: 1rem;
  }
}
