<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1 - Paletas de Colores</title>
    <link rel="stylesheet" href="/styles/ejercicio1.scss">
</head>

<body>
    <div class="container">
        <!-- Paleta Roja -->
        <div class="red-container">
            <div class="box-red darken-red-4"><span>Darken 4</span></div>
            <div class="box-red darken-red-3"><span>Darken 3</span></div>
            <div class="box-red darken-red-2"><span>Darken 2</span></div>
            <div class="box-red darken-red-1"><span>Darken 1</span></div>
            <div class="box-red base-red"><span>Base color</span></div>
            <div class="box-red lighten-red-1"><span>Lighten 1</span></div>
            <div class="box-red lighten-red-2"><span>Lighten 2</span></div>
            <div class="box-red lighten-red-3"><span>Lighten 3</span></div>
            <div class="box-red lighten-red-4"><span>Lighten 4</span></div>
        </div>

        <!-- Paleta Azul -->
        <div class="blue-container">
            <div class="box-blue darken-blue-4"><span>Darken 4</span></div>
            <div class="box-blue darken-blue-3"><span>Darken 3</span></div>
            <div class="box-blue darken-blue-2"><span>Darken 2</span></div>
            <div class="box-blue darken-blue-1"><span>Darken 1</span></div>
            <div class="box-blue base-blue"><span>Base color</span></div>
            <div class="box-blue lighten-blue-1"><span>Lighten 1</span></div>
            <div class="box-blue lighten-blue-2"><span>Lighten 2</span></div>
            <div class="box-blue lighten-blue-3"><span>Lighten 3</span></div>
            <div class="box-blue lighten-blue-4"><span>Lighten 4</span></div>
        </div>

        <!-- Paleta Verde -->
        <div class="green-container">
            <div class="box-green darken-green-4"><span>Darken 4</span></div>
            <div class="box-green darken-green-3"><span>Darken 3</span></div>
            <div class="box-green darken-green-2"><span>Darken 2</span></div>
            <div class="box-green darken-green-1"><span>Darken 1</span></div>
            <div class="box-green base-green"><span>Base color</span></div>
            <div class="box-green lighten-green-1"><span>Lighten 1</span></div>
            <div class="box-green lighten-green-2"><span>Lighten 2</span></div>
            <div class="box-green lighten-green-3"><span>Lighten 3</span></div>
            <div class="box-green lighten-green-4"><span>Lighten 4</span></div>
        </div>
    </div>
</body>

</html>