<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/ejercicio4.scss">
    <title>Ejercicio 4: Crearemos un elemento de tipo card con Grid CSS.</title>
</head>

<body>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_960_720.jpg" alt="Gato Aventurero">
        <h2>Diario de un Gato Aventurero</h2>
        <p>Conoce a "Bigotes", el felino más intrépido que se ha enfrentado a montañas, ríos y el misterioso robot
            aspirador. Su próxima misión: conquistar el sofá.</p>
        <!-- Publicado -->
        <div class="published">
            <p>Publicado: <span>28/12/2024</span></p>
        </div>
        <!-- Más información -->
        <div class="more-info">
            <a href="#">Leer más</a>
        </div>
    </div>
</body>

</html>