<div class="container">
  <p>Enter your credentials:</p>
  <form (ngSubmit)="checkCredentials()" #loginForm="ngForm" class="form">
    <mat-form-field class="field">
      <mat-label>Username</mat-label>
      <input matInput autocomplete="username" name="user" [(ngModel)]="username" [placeholder]="username" type="text"
        required #usernameInput="ngModel" />

      <mat-error *ngIf="usernameInput.invalid && usernameInput.touched" class="feedback">User required</mat-error>
      <mat-error *ngIf="usernameInput.errors?.['minlength']" class="feedback">User must contain at least
        {{usernameInput.errors?.['minlength']?.['requiredLength']}} characters</mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input matInput autocomplete="current-password" name="password" [(ngModel)]="password" [placeholder]="password"
        type="password" required #passwordInput="ngModel" minlength="6" />
      <div class="errors">
        <mat-error *ngIf="passwordInput.invalid && passwordInput.touched" class="feedback">Password required</mat-error>
        <mat-error *ngIf="passwordInput.errors?.['minlength']" class="feedback">Password must contain at least
          {{passwordInput.errors?.['minlength']?.['requiredLength']}} characters</mat-error>
      </div>

    </mat-form-field>

    <button mat-flat-button color="accent" *ngIf="!showSpinner" [disabled]="loginForm.invalid" type="submit">
      Submit
    </button>
    <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
  </form>

  <mat-card>
    <mat-card-content>
      <p>For this demo, use this user/password:</p>
      <p>master@lemoncode.net</p>
      <p>12345678</p>
    </mat-card-content>
  </mat-card>

</div>