@use '@angular/material' as mat;

$pink-p: mat.define-palette(mat.$pink-palette);
$accent : mat.get-color-from-palette($pink-p);
$accent-light : mat.get-color-from-palette($pink-p,200);

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;

  .featured-image-section {
    overflow: hidden;
    max-width: 600px;
    height: 400px;
    position: relative;

    img#featured-image{
      max-width: 100%;
      height: auto;
    }

    @media screen and (max-width:800px) {
      max-width: 95%;
      height: auto;
    }

    .zoom-buttons{
      position: absolute;
      bottom: 15px;
      right: 15px;
      display: flex;
      flex-wrap: wrap;
      max-width: 120px;
      justify-content: center;
      gap:0.7rem;
      mat-icon{
        font-size: 1.3rem;
      }
      .zoom-level{
        font-size: 0.7rem;
        opacity: 0.8;
      }
    }
  }

  .images-collection {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    .thumbs-container {
      margin: 1rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      order: 2;

      img{
        max-width: 100px;
      }
    }
    #next-image{
      order:3
    }
    #prev-image{
      order: 1;
    }

     @media screen and (max-width:580px) {
      max-width: 100%;
      gap: 1rem;

      #next-image{
        order:2;
        margin-top: 1rem;
      }
      #prev-image{
        order: 1;
        margin-top: 1rem;
      }

      .thumbs-container {
        max-width: 100%;
        flex-basis: 90%;
        gap: 1rem;
        order: 3;
        margin: 1rem auto;
      }
     }
  }

  .selected {
    border-bottom: 5px solid $accent;
  }

  .disabled {
    opacity: 50%;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-top: 1rem;

    button{
      min-width: 100px;
    }
  }
}
