@use '@angular/material' as mat;

$indigo-p: mat.define-palette(mat.$indigo-palette);

.container{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
h3.welcome{
  width: max-content;
  width: 100%;
  font-size: 3rem;
  line-height: 120%;
  margin-bottom: 3rem;
  font-weight: bold;
  color:  mat.get-color-from-palette($indigo-p)

}
